body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #100

}
button{
    width: 165px;
    height: 62;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 1rem;
    border: none;
    position: relative;
    background: #100720;
    transition: 0.1s;
}